<div class="drug">
  <div class="left-side">
    <div>
        <h1>
            {{product_name}}
        </h1>
        <div>
          <img src="/images/{{product_name}}.jpg" alt="{{drug.product_name}}">
          <img src="/images/{{chemical_image}}" alt="{{drug.class_schedule}}">  
        </div>
        <p>{{Drug.SideEffect.warnings}}</p>
    </div>
  </div>
  <div class="right-side">
    <ul>
        <li>Price: {{price}}</li>
        <li>NDC: {{ndc}}</li>
        <li>Interaction: {{sideEffect.interaction}}</li>
        <li>Efficacy Rate: {{efficacy_rate}}</li>
        <li>Class Schedule: {{class_schedule}}</li>
        <li>Condition: {{condition}}</li>
        <li>Alternatives: {{alt_drugs}}</li>
    </ul>
  </div>
</div>