<div class="row">
    <div class="col-auto">
        <h2>Welcome, {{name}}!</h2>
    </div>
</div>


<nav> <!-- navbar content here  --> </nav>

  <ul id="slide-out" class="sidenav">
    <li><div class="user-view">
      <div class="background">
        <img src="images/office.jpg">
      </div>
      <a href="#user"><img class="circle" src="images/yuna.jpg"></a>
      <a href="#name"><span class="white-text name">{{User.first_name}} {{User.last_name}}</span></a>
      <a href="#email"><span class="white-text email">{{User.email}}</span></a>
    </div></li>
    <li><a href="#">Account Settings</a></li>
    <li><a href="#!">Contact Us</a></li>
    <li><div class="divider"></div></li>
    <li class="subheader"> Coming Soon</li>
    <li><a class="waves-effect" href="#!">Add To Database</a></li>
  </ul>
  <a href="#" data-target="slide-out" class="sidenav-trigger"><i class="material-icons">menu</i></a>
        

{{!-- <div class="row mt-4">
    <div class="col-md-6">
        <h3>Create a New Project:</h3>

        <form class="form new-project-form">
            <div class="form-group">
                <label for="project-name">project name:</label>
                <input class="form-input" type="text" id="project-name" name="project-name" />
            </div>
            <div class="form-group">
                <label for="project-funding">needed funding ($):</label>
                <input class="form-input" type="number" id="project-funding" name="project-funding" />
            </div>
            <div class="form-group">
                <label for="project-desc">description:</label>
                <textarea class="form-input" id="project-desc" name="project-desc"></textarea>
            </div>
            <div class="form-group">
                <button type="submit" class="btn btn-primary">Create</button>
            </div>
        </form>
    </div> --}}





    <div class="row">
        <div class="col s12 m6">
            <div class="card blue-grey darken-1">
                <div class="card-content white-text">
                    <span class="card-title">Search History</span>
                    {{#if !UserQuery.user_id}}
                    <div class="col-md-6 project-list">
                        <h3>No Search History!</h3>
                        {{#each query as |UserQuery|}}
                        <div class="row mb-2">
                            <div class="col-md-8">
                                <h4><a href="/drugs/{{UserQuery.product_name}}">{{UserQuery.product_name}}, {{UserQuery.date}}</a></h4>
                            </div>
                            {{!-- <div class="col-md-8">
                                <h4><a href="/project/{{project.id}}">{{project.name}}</a></h4>
                            </div> --}}
                            {{!-- <div class="col-md-4">
                                <button class="btn btn-sm btn-danger" data-id="{{project.id}}">DELETE</button>
                            </div> --}}
                        </div>
                        {{/each}}
                    </div>
                    {{/if}}
                    {{!-- <p>I am a very simple card. I am good at containing small bits of information.
                        I am convenient because I require little markup to use effectively.</p> --}}
                </div>
                {{!-- <div class="card-action">
                    {{!-- <a href="#">This is a link</a>
                    <a href="#">This is a link</a> --}}
                </div> --}}
            </div>
        </div>
    </div>
</div>

<script src="./js/profile.js"></script>

{{!-- 
<script src="./js/profile.js"></script> 
--}}

{{!-- 
  document.addEventListener('DOMContentLoaded', function() {
    var elems = document.querySelectorAll('.sidenav');
    var instances = M.Sidenav.init(elems, options);
  });

  // Initialize collapsible (uncomment the lines below if you use the dropdown variation)
  // var collapsibleElem = document.querySelector('.collapsible');
  // var collapsibleInstance = M.Collapsible.init(collapsibleElem, options);

  // Or with jQuery

  $(document).ready(function(){
    $('.sidenav').sidenav();
  });
   --}}